<div class="row game-well">
  <div class="well">
  <h2 id="countdown">Get ready!</h2>
  <input type="text" id="tagInput" value="" autofocus>
  <br>
  <ul class="unstyled scores" name="tagsList" id=<%= @participant.id%>>
  </ul>
  <div class="row scoreFinal">
    <h1 id="scoreDisplay">
    <h1 id="rankDisplay">
  </div>
</div>
