<div>
  <p>Timer will start once you scan your first tag.</p>
  <ul name="tagsList" id=<%= @participant.id%>>
  </ul>
  <input type="text" name="tagInput" value="" autofocus>
  <br>
  <h2 id="scoreDisplay">
</div>